* {
    margin: 0px;
    padding: 0px;
}

:root {
    --secondary-background-color: rgb(51, 51, 51);
    --main-background-color: rgb(238, 238, 238);
    --secondary-text-color: rgb(238, 238, 238);
    --darker-background-color: #ccc;
    --pop-color: rgb(20, 62, 114);
    --hover-color: #222;
}

fieldset {
    border: none;
    display: grid;
    gap: 8px;
    padding: 0px;
}

input {
    font-size: 1.2rem;
    padding: 6px 8px;
    border-radius: 4px;
    border: transparent;
}

header, footer {
    text-align: center;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
}

header {
    font-size: 1.5rem;
    padding: 16px 0px;
}

footer {
    font-size: 1.2rem;
    padding: 8px 0;
}

body {
    background-color: var(--darker-background-color);
}

form {
    padding: 16px 32px;
    background-color: var(--main-background-color);
    align-self: center;
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.formSection {
    display: grid;
    gap: 8px;
}

h2 {
    padding: 8px 0px;
}

.container {
    padding: 3rem 14rem;
}

button {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    padding: 10px 0;
    border-radius: 4px;
    border: transparent;
    width: 100%;
}

button:hover {
    background-color: var(--hover-color);
}

.Preview h2 {
    background-color: var(--pop-color);
    color: var(--main-background-color);
    font-size: 2.5rem;
    padding: 8px;
    min-height: 3rem;
}

.Preview h3 {
    color: var(--pop-color);
    border-bottom: 1px lightgray solid;
}

.Preview .main {
    background-color: var(--main-background-color);
    padding: 1rem;
}

.previewSection {
    padding: 0.3rem;
    display: flex;
}

.previewSection * {
    flex: 1;
}

ul {
    list-style-type: none;
}